{% extends "base.html" %}

{% block contenido %}
		{{parent()}}
		<div id='title'><h1>USERS</h1></div>
		
		{% if msg %}
			<div class="alert alert-warning">
				{{ msg }}
			</div>
		{% endif %}

		{% if agregar %}

		    <form method="post" action="./index.php?seccion=usuarios&amp;agregar=si">
		    	<input id="nick" type="text" name="nick" placeholder="USER" >
		    	<input id="pass" type="password" name="pass" placeholder="PASSWORD">
		    	<input id="role" type="text" name="role" placeholder="CHARACTER NAME" >
		    	<input id="agregar" name="submit" type="submit" value="CREATE">
	    	</form>

		{% else %}
			{% if not admin %}
			<div class="btn pull-right"'><a href="./index.php?seccion=usuarios&amp;agregar=si"><h2>CREATE AN ACCOUNT</h2></a></div>
			{% endif %}
		{% endif %}
		{% if admin %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>USER</th>
						<th>CHARACTER</th>
					</tr>
				</thead>
				<tbody>
					{% for admin in users %}
						<tr>
							<td> {{ admin.nick}} </td>
							<td> {{ admin.role }} </td>

								<td><a class="btn btn-warning" href="./index.php?seccion=usuarios&amp;eliminar={{ admin.id }}">DESTROY</a></td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
{% endblock %}